@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Roboto:wght@500&display=swap');

/* basic Styles */


body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 870px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 30px;
  margin-top: 21px;
}

/* styles */
.top-players{
  margin-bottom: 30px;
}
.heading-title{
  font-size: 24px;
  color: #562EFF;
  margin-top: 3px;
}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.one-player{
  display: flex;
  align-items: center;
}
.players .one-player img{
  width: 56px;
  height: 56px;
}
.player-name{
  margin-left: 16px;
  font-size: 18px;
}
hr{
  border: 1px solid #D1D1D1;
}

/* Blogs Styles */

.top-blogs{
  margin-top: 30px;
}
.blogs{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-row-gap: 26px;
}
.blog{
 display: flex;
}
.thumbnail img{
  width: 177px;
  height: 117px;
}
.blog-detail{
 margin-left: 16px;
}
.blog-title{
  font-size: 20px;
}
.blog-owner{
  color: #9F9F9F;
  font-size: 16px;
}
.blog-owner a{
 color: #562EFF;
 font-size: 16px;
 text-decoration: none;
}

/* Course-Style */
.courses{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 25px;
}
.course {
  border-radius: 20px;
  box-shadow: -2px -2px 11px rgb(0 0 0 / 5%);
  padding: 10px;
}
.course-banner{

}
.course-banner img{
  width: 224px;
  height: 104px;
}
.course-detail{

}
.course-title{
  font-size: 20px;
  color: #1E1E1E;
}
.course-owner{
  font-size: 15px;
  color: #ED6B4F;
}
.course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-rating{
}
.fa-star.filled{
  color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
}
/* Media Query */
@media screen and (max-width:676px) {
  .container{
    width: 100%;
  }
  .players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
  }
  .one-player, .blog{
    flex-direction: column;
  }
}